@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for testimonial scroller if needed later */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
