@tailwind base;
@tailwind components;
@tailwind utilities;

/* General layout setup */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* prevent scroll */
  background-color: #fcfaf7;
}

/* Center content consistently across all pages */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Smooth typography and links */
h1, h2, h3, h4, h5 {
  font-family: Georgia, serif;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}
